<div class="covid-body-text">
  <p>Below is my running project, working with covid-19 data. As so many people are doing, I figured I'd find a few datasets and see what kinds of insights and visualizations I can develop. Hopefully there is at least some useful information to help you put some of the current covid numbers into perspective. 
</div>

<div id="covid-1" class="covid-d3-section">
  <h3 class="covid-chart-title">Covid cases by Country on May 22, 2020</h3>
  <div>
    <label for="covid-months">Select Month</label>
    <input id="covid-chart-input" name="covid-months" type="range" min="2" max="7" step="1"></input>
  </div>
</div>