
<div class="reader-search-section">
  <h2 class="article-feed-title">Filter By Source</h2>
  <input type="radio" id="all" name="article-filter" value="all">
  <label for="all">All</label>
  <input type="radio" id="arxiv" name="article-filter" value="arxiv">
  <label for="arxiv">Arxiv</label>
  <input type="radio" id="guardian" name="article-filter" value="guardian">
  <label for="guardian">Guardian</label>
</div>

<div id="reader-body-section">
<div id="arxiv-area">
  <div class="article-feed-title">
    <h2>Most Recent Machine Learning ArXiv Articles:</h2>
  </div>
  
  <div class="article-feed-body" id="arxiv-article-feed-body">
    <!-- This is where articles are inserted via JavaScript-->
  </div>  
</div>

<!-- <div id="guardian-area">
  <div class="article-feed-title">
    <h2>Most Recent Guardian Stories:</h2>
  </div>
  
  <div class="article-feed-body" id="guardian-article-feed-body">
    
  </div>
</div>
</div>
<div id="financialTimes-area">
  <div class="article-feed-title">
    <h2>Most Recent FinancialTimes Stories:</h2>
  </div>
  
  <div class="article-feed-body" id="financialTimes-article-feed-body">
    
  </div> -->
</div>