<h3 class="section-title">Experience</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
            <em><p class="period">{{ job.period }}</p></em>
        </dt><!--
        --><dd>
            <p class="description">{{ job.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p class="description">{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>
