// @name Footer
// @description All footer styles

.footer {
    padding: ($spacer * 2) $spacer;
    text-align: center;
    border-top: 1px solid #edefee;

    &__title {
        font-weight: 800;
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-size: 36px;
    }

    &__subtitle {
        text-transform: capitalize;
        font-family: "Gelasio", serif;
        color: rgba(168, 162, 158, 1.0);
    }
}
