// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 20px;

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacer;
}

.section-title {
    margin-bottom: ($spacer * 2);
    text-align: center;
    position: relative;
    color: rgba(168, 162, 158, 1.0);
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-style: italic;
    font-size: 48px;
    
    &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -25px;
        width: 50px;
        height: 1px;
        background: rgba(172, 162, 158, 1.0);;
    }
}
