.post-back-box {
  margin: ($spacer);
}

.post-title-box {
  margin: 10%;
  text-align: center;

  .post-title {
    font-size: 48px;
    font-weight: 800;
    font-style: italic;
    color: rgba(168, 162, 158, 1.0);
    font-family: "Playfair Display", serif;
  }
  
  .post-date {
    color: rgba(168, 162, 158, 1.0);
  }
}

.post-content {
  margin: 5% auto;
  max-width: 850px;
  
  // Blockquote 
  blockquote {
    font-size: 16px;
    font-weight: 300;
  }
  
  // Ordered List 
  // ol li {
  //   counter-increment: matt;
  //   font-size: 16px;
  //   line-height: 2.0;
  // }
  
  // ol li:before {
  //   content: counter(matt) ".  ";
  // }

  // ol li:marker {
  //   content: counter(matt) ".  ";
  // }
  
  // ol {
  //   list-style: none;
  //   counter-reset: matt;
  // }
  
  // Unordered List 
  // ul li {
  //   counter-increment: matt2;
  //   font-size: 16px;
  //   line-height: 2.0;
  // }

  // li {
  //   font-size: 16px;
  //   line-height: 2.0;
  // }
  
  // // ul li:before {
  // //   content: counter(matt2) ". ";
  // // }
  
  // ul {
  //   list-style: none;
  //   counter-reset: matt2;
  // }
  
  // Code Block 
  code {
    background: rgba(242, 242, 242, 1);
    padding: 5px 5px;
    border-radius: 2px
  }


  // Post Text 
  p {
    display: block;
    font-size: 20px;
    line-height: 2.4;
    color: #5F4C3E;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 700;
  }
}

ol {
  padding-inline-start: 16px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 32px;

  li {
    margin-bottom: 20px;
  }
}

ul {
  padding-inline-start: 16px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 32px;

  li {
    margin-bottom: 20px;
  }
}