// @name Typography
// @description All typography settings and styles

@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// Our variables
$base-font-family: "Gelasio", Helvetica, Arial, sans-serif;
$base-font-size:   16px;

body {
    font-family: $base-font-family, serif;
    font-size: $base-font-size;
    line-height: 1.4;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

